<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('partials/nav') %>
    <main class="error-container">
        <div class="error-content">
          <h1>404</h1>
          <h2>Oups ! Page introuvable</h2>
          <p>La page que vous cherchez n'existe pas ou a été déplacée.</p>
          <a href="/" class="home-button">Retour à l'accueil</a>
        </div>
      </main>
      <footer class="site-footer">
        <div class="footer-content">
            <p>&copy; 2025 SalimTechSolutions. Tous droits réservés.</p>
            <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>

</body>
</html>